
body{
    width: 100vw;
    height: 100vh;
    /*background-color: brown;*/
    background: linear-gradient(to bottom, #2c0209 0%, #5e1e1a 50%, #8b4513 100%);
}


.imageDeFond {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 70%;
    /*background-color: chocolate;*/
    background: url("/ressources/image/bgimage.png") no-repeat center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;


    
} 

.EXPLORE {
    margin-top: 20px;
    width: 500px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    margin: auto;
    color: antiquewhite;
}

.evasion{
    margin-top: 20px;
    width: 500px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    margin: auto;
    color: rgb(162, 83, 14);
    text-shadow: 0px 0px 1px antiquewhite;
    font-size: 40px;
}





