body  {
    font-family: Arial, sans-serif;
    color: #ffffff;
    height: 100%;
  }
  
  header {
    width: 100%;
    background: #018a2c;
    height: 60px;
  }
  
  .menu ul li ul {
    background: #d10a12;
  }

  .menu ul li{
    color: #fcde02;
  }

  .bvn {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-image: url("/ressources/image/AMP-197.png");
    height: 500px;
    width: 100%;
    background-size: cover;
    text-shadow: #000 0px 0px 10px;
  }
  
  p{
    margin-right: 80%;
    height: 500px;
    font-size: 23px;
    text-shadow: #000 0px 0px 10px;
    padding: 10px;
  }
  
  h1, h2, h3 {
    text-shadow: #000 0px 0px 10px;
    padding: 10px;
  }
  
  .sa {
    background-image: url("/ressources/image/afriquedusud.jpg");
    height: 500px;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
  }
  
  .btnsa{
    position: absolute;
    top: 110%;
  }
  
  .egt{
    background-image: url("/ressources/image/egt.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
  }
  
  .btnegt{
    position: absolute;
    top: 165%;
  }
  
  .mrc{
    background-image: url("/ressources/image/Marrakech.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
  }
  
  .btnmrc{
    position: absolute;
    top: 220%;
  }
  
  button {
    background-color: #003399;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s ease;
  }