* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    zoom: 90%;
}

body {
    background-color: #e3e3e3;
}

.mainindex {
    display: block;
    width: 100%;
    position: absolute;
    margin-top: 25px;
    z-index: 2;
}

.imageamerique {
    width: 500px;
    height: auto;
    margin-top: 50px;
}



.presentation {
    text-align: center;
    padding: 20px;
}

.divideo {
    display: flex;
    justify-content: center;;
}

.video  {
    display: block;
}

.presentation h1 {
    font-size: 28px;
    font-style: italic;
}

article img {
    display: flex;
    float: left;
    width: 500px;
    max-height: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

article {
    display: block;
    padding-top: 60px;
    padding-bottom: 100px;
}

article h2 {
    font-size: 35px;
    line-height: 2;
    padding-bottom: 50px;
}

article ul {
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}

hr {
    display: flex;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.521);
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}