html {
    background-image: url(../ressources/image/tour_eiffel.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }